{% extends 'base.html.twig' %}

{% block title %}{% trans %}Login{% endtrans %}
{% endblock %}

{% block body %}

	<!-- ======= Hero Section form ======= -->
	<section id="hero">
		<div class="hero-container" data-aos="fade-up">

			<div class="section-title">
				<h1>{% trans %}Connect!{% endtrans %}</h1>
			</div>
			<h2>
				<a href="{{ path('app_register')}} ">
					<button class="btn btn-primary">{% trans %}No account yet? Sign up!{% endtrans %}</button>
				</a>
			</h2>
			<div class="col-lg-4 text-white text-left font-weight-bold">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger d-table mx-auto">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<label for="inputName">{% trans %}Pseudo{% endtrans %}</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
					<label for="inputPassword">{% trans %}Password{% endtrans %}</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>

					<div class="blockcenter">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>

						<button class="btn btn btn-primary" type="submit">{% trans %}To validate{% endtrans %}</button>
					</form><br>

					<a href="{{ path('app_forgot_password_request') }}">
						<h7 class="text-white">{% trans %}Forgot your password ?{% endtrans %}</h7>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
	<main id="main"></main>
{% endblock %}
