{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container" data-aos="fade-up">

			<div class="section-title">
				<h1>Connectez vous !</h1>
			</div>

			<div class="col-lg-4 text-white font-weight-bold">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger mx-auto">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que
							{{ app.user.username }}.
							<a href="{{ path('app_logout') }}">Déconnectez vous</a>
						</div>
					{% endif %}

					<label for="inputName">Pseudo</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>

					<button class="btn btn btn-primary" type="submit">Valider</button>
				</form>

				<a href="#">
					<h7 class="text-white">Mot de passe oublié ?</h7>
				</a><br>

				<h2>
					<a href="#">
						<button class="btn btn-primary">Pas encore de compte ? Inscrivez-vous</button>
					</a>
				</h2>
			</div>
		</div>
	</section>
	<!-- End Hero -->

{% endblock %}
