{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<!-- ======= Hero Section form ======= -->
	<section id="hero">
		<div class="hero-container" data-aos="fade-up">

			<div class="section-title">
				<h1>Connectez vous !</h1>
			</div>
			<h2>
				<a href="{{ path('app_register')}} ">
					<button class="btn btn-primary">Pas encore de compte ? Inscrivez-vous !</button>
				</a>
			</h2>
			<div class="col-lg-4 text-white text-left font-weight-bold">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger d-table mx-auto">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<label for="inputName">Pseudo</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>

					<div class="blockcenter">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>

						<button class="btn btn btn-primary" type="submit">Valider</button>
					</form><br>

					<a href="{{ path('app_forgot_password_request') }}">
						<h7 class="text-white">Mot de passe oublié ?</h7>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
	<main id="main"></main>
{% endblock %}
