{% for figure in figures %}
	<div class="col-lg-3 col-md-6 portfolio-item">
		<div class="section-namefig text-center">
			<h2>{{ figure.name }}</h2>
		</div>
		<div class="portfolio-wrap">
			{% if figure.images is empty %}
				<img src="img\pas-d-image-disponible.jpg" class="img-fluid" alt="{% trans %}Default picture{% endtrans %}">
				<div class="portfolio-links">
					<a href="{{ path('figure_show', {'slug': figure.slug}) }}" title="{% trans %}Figure details{% endtrans %}">
						<i class="bx bx-link"></i>
					</a>
					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('figure_edit', {'slug': figure.slug}) }} " title="{% trans %}Edit{% endtrans %}">
							<i style="color: green;" class="bx bx-edit"></i>
						</a>
						<a data-bs-toggle="modal" data-bs-target="#staticBackdrop{{figure.id}}" title="{% trans %}Remove{% endtrans %}">
							<i style="color: red;" class="bx bx-trash"></i>
						</a>
						{{ include('figure/_delete_form.html.twig') }}
					{% endif %}
				</div>
			{% else %}
				{% for image in figure.images %}
					{% if loop.first %}
						<img src="{{ image.src }}" class="img-fluid" alt="">
						<div class="portfolio-links">
							<a href="{{ path('figure_show', {'slug': figure.slug}) }}"  title="{% trans %}Figure details{% endtrans %}">
								<i class="bx bx-link"></i>
							</a>
							{% if is_granted('ROLE_USER') %}
								<a href="{{ path('figure_edit', {'slug': figure.slug}) }} " title="{% trans %}Edit{% endtrans %}">
									<i style="color: green;" class="bx bx-edit"></i>
								</a>
								<a data-bs-toggle="modal" data-bs-target="#staticBackdrop{{figure.id}}" title="{% trans %}Remove{% endtrans %}">
									<i style="color: red;" class="bx bx-trash"></i>
								</a>
								{{ include('figure/_delete_form.html.twig') }}
							{% endif %}
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}
