{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
<!-- ======= Hero Section form ======= -->
<section id="heronewfigure">
	<div class="hero-container" data-aos="fade-up">

		<div class="section-title">
			<h1>Inscrivez vous !</h1>
		</div>

		<h2>
			<a href="{{ path('app_login') }}">
				<button class="btn btn-primary">Déjà inscrit ? Connectez-vous !</button>
			</a>
		</h2>
		<div class="text-white font-weight-bold">
			<p>*Champs Obligatoires</p>
			<p>
				Vous pouvez uploader un avatar ultérieurement</p>
		</div>

		<div class="col-lg-4 text-white text-left font-weight-bold">

			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.username, {'label': 'Pseudo*','attr': {'placeholder': 'Votre Pseudo ...'}}
			) }}
			{{ form_row(registrationForm.email, {'label': 'Adresse email*','attr': {'placeholder': 'Votre Adresse email ...'}}
			) }}
			{{ form_row(registrationForm.avatar, {'label': 'Votre Avatar','attr': {'placeholder': 'Charger un fichier ...'}}
			) }}
			{{ form_row(registrationForm.plainPassword) }}

			{{ form_row(registrationForm.agreeTerms, {'label': 'Accepter les conditions d\'utilisation*'} ) }}

			<div class="blockcenter">
				<button type="submit" class="btn btn-primary">Valider</button>

				{{ form_end(registrationForm) }}

			</div>
		</div>
	</div>
</section>
<!-- End Hero -->
<main id="main"></main>
{% endblock %}
