{% extends 'base.html.twig' %}

{% block title %}{% trans %}Registration{% endtrans %}
{% endblock %}

{% block body %}
<!-- ======= Hero Section form ======= -->
<section id="heronewfigure">
	<div class="hero-container" data-aos="fade-up">

		<div class="section-title">
			<h1>{% trans %}Sign up!{% endtrans %}</h1>
		</div>

		<h2>
			<a href="{{ path('app_login') }}">
				<button class="btn btn-primary">{% trans %}Already registered ? Log in!{% endtrans %}</button>
			</a>
		</h2>
		<div class="text-white font-weight-bold">
			<p>{% trans %}*Required fields{% endtrans %}</p>
			<p>
				{% trans %}You can upload an avatar later.{% endtrans %}</p>
		</div>

		<div class="col-lg-4 text-white text-left font-weight-bold">

			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.username, {'label': 'Pseudo*'|trans,'attr': {'placeholder': 'Your username* ...'|trans}}
			) }}
			{{ form_row(registrationForm.email, {'label': 'E-mail address*'|trans,'attr': {'placeholder': 'Your email address*  ...'|trans}}
			) }}
			{{ form_row(registrationForm.avatar, {'label': 'Your Avatar'|trans,'attr': {'placeholder': 'Upload file ...'|trans}}
			) }}
			{{ form_row(registrationForm.plainPassword) }}

			{{ form_row(registrationForm.agreeTerms, {'label': 'Accept the terms of use*'|trans} ) }}

			<div class="blockcenter">
				<button type="submit" class="btn btn-primary">{% trans %}To validate{% endtrans %}</button>

				{{ form_end(registrationForm) }}

			</div>
		</div>
	</div>
</section>
<!-- End Hero -->
<main id="main"></main>
{% endblock %}
